<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="com.eg.learn.autowire.Employee">
	
	<property name="id" value="1554"/>
	<property name="name" value="Vikram"/>
	
	
	</bean>
	<bean id="ad" class="com.eg.learn.autowire.Address">
	<property name="street" value="indrapuri"/>
	<property name="zipcode" value="834005"/>
	
	</bean>
	
    <bean  id="empservice" class="com.eg.learn.autowire.EmployeeService" autowire="byName">
    
   
    
    </bean>

</beans>
