<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="s" class="com.example.learn.Student">
    
    <property name="name" value="vikram"/>
    
    <property name="Roll" value="125"/>
    </bean>
    
    <bean id="B" class="com.example.learn.Branch">
     
     <property name="name"  value="computer"/>
     <property name="student"  ref="s"/>
    
    </bean>

</beans>
